<div class="container product-list-page">
  <div class="page-header">
    <h1>All Products</h1>
  </div>

  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search products</mat-label>
    <!-- (ngModelChange)="" -->
    <!-- [ngModel]="" -->
    <input matInput type="search" , placeholder="Search..." [(ngModel)]="searchQuery" />
    <button mat-icon-button matSuffix (click)="searchProducts()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  @if (searchQuery) {
    <div>Filtering by "{{ searchQuery }}"</div>
  }

  <div class="products-grid">
    @for (product of filteredProducts(); track product.id) {
      <app-product-card [product]="product" />
    } @empty {
      <div class="empty-state empty-state-full-width">
        <p>No products founds.</p>
      </div>
    }
  </div>
</div>
