<footer class="site-footer">
  <div class="container footer-grid">
    <div>
      <h3 class="footer-heading">{{ 'footer.brand' | translate }}</h3>
      <p class="footer-text">{{ 'footer.tagline' | translate }}</p>
    </div>
    <div>
      <h4 class="footer-heading">{{ 'footer.quickLinks' | translate }}</h4>
      <div class="footer-links">
        <a routerLink="/" class="footer-link">{{ 'footer.home' | translate }}</a>
        <a routerLink="/products" class="footer-link">{{ 'footer.products' | translate }}</a>
        <a routerLink="/cart" class="footer-link">{{ 'footer.cart' | translate }}</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">{{ 'footer.copyright' | translate }}</div>
</footer>
