<section class="hero-section">
  <h1 class="hero-title">{{ 'home.heroTitle' | translate }}</h1>
  <p class="hero-subtitle">{{ 'home.heroSubtitle' | translate }}</p>
  <a mat-raised-button color="accent" routerLink="/products">{{ 'home.shopNow' | translate }}</a>
</section>

<section class="container featured-section">
  <h2>{{ 'home.featured' | translate }}</h2>

  <div class="products-grid">
    @for (product of featuredProducts(); track product.id) {
      <app-product-card [product]="product" />
    }
  </div>

  <div class="view-all-wrapper">
    <a mat-stroked-button color="primary" routerLink="/products">{{
      'home.viewAll' | translate
    }}</a>
  </div>
</section>
